.loader-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Adjust as needed */
    flex-direction: column;

  }
  
  .custom-loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .loader-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #0000;
    border-radius: 50%;
    border-right-color: rgb(23, 143, 255);
    animation: s5 1s infinite linear;
  }
  
  .icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure it is above the rotating loader */
  }
  
  .icon-wrapper .material-symbols-outlined {
    font-size: 36px; /* Adjust size as needed */
    color: rgb(23, 143, 255); /* Adjust color as needed */
  }
  
  @keyframes s5 {
    100% { transform: rotate(1turn); }
  }
  
  .loader_text{color: rgb(23, 143, 255);
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader-inner {
    display: grid;
    border:2.5px solid #0000;
    border-radius: 50%;
    border-right-color:rgb(23, 143, 255);
    animation: s5 1s infinite linear;
  }
  .loader-inner::before,
  .loader-inner::after {    
    content:"";
    grid-area: 1/1;
    margin:2px;
    border:inherit;
    border-radius: 50%;
    animation: s5 2s infinite;
  }
  .loader-inner::after {
    margin:8px;
    animation-duration: 3s;
  }
  
  @keyframes s5{ 
    100%{transform: rotate(1turn)}
  }
  

  .customloader {
    width:25px;
    height:4px;
    background: radial-gradient(circle closest-side,rgb(23, 143, 255) 90%,#0000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation:d1 1s steps(4) infinite;
    margin-top: 7px;
  }
  @keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}