.notes {
    display: flex;
    flex-wrap: wrap;
}

.note-item {
    margin: 10px 40px 50px 0px;
    float: left;
    width: 100% !important;
}

.note-item div small {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

.content_body{
    font-size: 1rem;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    max-height: 6rem; /* Approximate height for 4 lines */
    transition: max-height 0.3s ease-in-out;
}

.card.expanded .content_body {
    -webkit-line-clamp: none;
    max-height: none; /* Remove height limit when expanded */
}

.read-more-btn {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #007BFF;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.read-more-btn:hover {
    color: #0056b3;
}


.footer {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.rotate-1 {
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.rotate-2 {
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
}

.lazur-bg {
    background-color: #ffffff;
    color: #000;
    border-radius: 15px;
    max-height: 200px;
}

.read{
    max-height: 163px;
    overflow: auto;
}

.red-bg {
    background-color: #ed5565;
    color: #ffffff;
}

.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.yellow-bg {
    background-color: #f8ac59;
    color: #ffffff;
}

.note-item div:hover {
    -webkit-box-shadow: -10px 9px 8px rgba(33, 33, 33, 0.7);
    box-shadow: -10px 9px 8px rgba(33, 33, 33, 0.7);
  
}

.header_note{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note-item div {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    padding: 1em;
    -moz-box-shadow: 5px 5px 7px #212121;
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
   /* -moz-transition: -moz-transform 0.15s all ease-in;
    -o-transition: -o-transform 0.15s all ease-in;
    -webkit-transition: -webkit-transform 0.15s all ease-in;*/
}
