.nav-item:hover{
    border: 0.5px solid;
    border-radius: 3px;
}
.img-banner{
    height: 50px;
    width: 100%;
}


.registration-form {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    
  }
  
  .profile-picture {
    background: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover;
    height: 100px;
    position: relative;
  }
  

  .profile-picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 10px;
  }
  
  form {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #178fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .disablelabel{
    border: 1px solid #cccccc;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    background: #c2c5c8;
  }

  .rightpnel{

    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  .imagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .leftpanel {

    background-image: linear-gradient(to right, #3f9bf0, #3388db, #2576c7, #1664b3, #01539f);
    display: flex;

    background: linear-gradient(270deg, #93c3f1, #2594fc);
    background-size: 400% 400%;

    -webkit-animation: Left 6s ease infinite;
    -moz-animation: Left 6s ease infinite;
    -o-animation: Left 6s ease infinite;
    animation: Left 6s ease infinite;
}

@-webkit-keyframes Left {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@-moz-keyframes Left {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@-o-keyframes Left {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@keyframes Left {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}